.btn{
    background-color: rgb(227, 110, 21);
    border: none;
}

.navbar-brand{
    color: #F27806;
}


.navbar-nav .nav-link.active {
    color: orange;
  }
  
  .navbar-nav .nav-link:not(.active) {
    color: white;
  }
  
